{{ header }}
<div id="account-login" class="container">
  <ul class="breadcrumb">
    {% for breadcrumb in breadcrumbs %}
    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
    {% endfor %}
  </ul>
  {% if success %}
  <div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> {{ success }}</div>
  {% endif %}
  {% if error_warning %}
  <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}</div>
  {% endif %}
  <div class="row">{{ column_left }}
    {% if column_left and column_right %}
    {% set class = 'col-sm-6' %}
    {% elseif column_left or column_right %}
    {% set class = 'col-sm-9' %}
    {% else %}
    {% set class = 'col-sm-12' %}
    {% endif %}
    <div id="content" class="{{ class }}">
	<h2 class="page-title">{{ button_login }}</h2>
	{{ content_top }}
      <div class="row">
        <div class="col-sm-6 customer-login">
          <div class="well">
            <h2>{{ text_returning_customer }}</h2>
            <form action="{{ action }}" method="post" enctype="multipart/form-data" class="form">
                <div class="alert alert-danger" id="login-alert" style="display: none;"></div>
                <div class="form-group">
                    <input type="email"
                            placeholder="{{ entry_email }}"
                            class="form-control"
                            name="email"
                            value="{{ email }}"
                            required>
                </div>
                <div class="form-group form-group_password">
                    <input type="password"
                            placeholder="{{ entry_password }}"
                            name="password"
                            value="{{ password }}"
                            class="form-control"
                            required>
                    <button type="button" class="form-group__icon js-show-password">
                        <svg class="inline-svg-icon"
                            width="14"
                            height="10">
                            <use xlink:href="/image/svg/sprites.svg#eye"></use>
                        </svg>
                    </button>
                </div>
                <button type="submit" class="btn btn-primary">{{ button_login }}</button>
                {% if redirect %}
                    <input type="hidden" name="redirect" value="{{ redirect }}" />
                {% endif %}
                <div class="form__footer">
                    <a href="{{ forgotten }}">{{ text_forgotten }}</a>
                    <span>/</span>
                    <a href="{{ register }}">{{ text_register }}</a>
                </div>
            </form>
          </div>
        </div>
      </div>
      {{ content_bottom }}</div>
    {{ column_right }}</div>
</div>
{{ footer }}